<aside>
  <a href="/dashboard"><div class="top">
    <div class="logo">
      <img src="/images/logo.png" alt="MarOil Logo" />
      <h2>Bitácora MarOil</h2>
    </div>
  </a>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp"> close </span>
    </div>
  </div>

  <div class="sidebar">
    <a href="/dashboard">
      <span class="material-icons-sharp">space_dashboard</span>
      <h3>Dashboard</h3>
    </a>

    <a href="/reports/create">
      <span class="material-icons-sharp">add</span>
      <h3>Nuevo Reporte</h3>
    </a>

    <a href="/reports">
      <span class="material-icons-sharp">manage_search</span>
      <h3>Registros</h3>
    </a>

    <a href="/users">
      <span class="material-icons-sharp">people</span>
      <h3>Usuarios</h3>
    </a>

    <a href="/equipment">
      <span class="material-icons-sharp">precision_manufacturing</span>
      <h3>Equipos</h3>
    </a>

    <a href="/logout">
      <span class="material-icons-sharp">logout</span>
      <h3>Cerrar Sesión</h3>
    </a>
  </div>
</aside>
