<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bit치cora de Fallas</title>

  <!-- <link rel="stylesheet" href="/stylesheets/DashboardStyle.css"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/alerts.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>
  <%- include('layouts/message') %>
	<img class="wave" src="/images/wave.png">
	<div class="container">
		<div class="img"> 
			<img src="  /images/bg.svg">
		</div>
		<div class="login-content">
			<form method="post" action="/login">
				<img src="images/logo.png">
				<h2 class="title">Bit치cora de Fallas</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input id="user" type="text" class="input" name="username" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contrase침a</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Iniciar Sesi칩n">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script type="text/javascript" src="/javascripts/flashMessages.js"></script>
</body>

</html>