@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --bg-color: #2a3338;
  --control-container-bg-color: #434c57;
  --text-color: white;
}

.light-theme-variables {
  --bg-color: white;
  --control-container-bg-color: #c4c4c4;
  --text-color: #363949;
}

body {
  overflow-y: auto !important;
}

.grid {
  padding: 0.8rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.58);
  border-radius: 10px;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  min-width: 435px;
}

.vessel{
  grid-column: 1/3;
}
select {
  border-radius: 4px;
  color: var(--text-color);
  height: 2rem;
  padding: 0.2rem;
  background-color: var(--control-container-bg-color);
  font-family: poppins, sans-serif;
}

input {
  border-radius: 4px;
  color: var(--text-color);
  height: 2rem;
  padding: 0.2rem;
  background-color: var(--control-container-bg-color);
}

textarea {
  background-color: var(--control-container-bg-color);
  border-radius: 4px;
  color: var(--text-color);
  padding: 0.2rem;
}

label {
  font-weight: 700;
  font-size: 1rem;
}
option {
  padding: 2rem;
}

.reportsDetails {
  grid-column: span 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4caf50;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: lightcoral;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.middle {
  min-width: 400px;
  margin: 0 auto;
  width: 50%;
  font-family: "Poppins", sans-serif;
}

.switch {
  position: relative;
  margin: 0 auto;
}

.button {
  display: inline-block;
  height: 20px !important;
  position: relative;
  border-radius: 4px;
  background-color: #134265;
  border: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  padding: 20px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  left: 25%;
}

.button span {
  position: relative;
  top: -11px;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.switch-container {
  display: flex;
  flex-direction: row;
  padding: 0 25%;
}

.switch-container > label {
  font-size: 1rem;
  font-weight: 600;
}

textarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
    min-width: 100%;
  }
  .create-container {
    grid-template-columns: 1fr;
  }
  .middle {
    width: 80%;
    margin: 4rem auto;
  }
}

@media screen and (max-width: 450px) {
  .middle {
    position: relative;
    left: -10px;
    width: 50vw;
    padding: 0 1rem;
    overflow-x: hidden;
  }
}
